@model ShipmentResultModel

<div class="flex min-h-screen items-center justify-center">
    <div class="container mt-4">
        <h1 class="text-[#A82F38] mb-6 text-3xl font-bold">Check Shipment Status</h1>
        <div class="w-full">
            <partial name="_CheckShipmentStatusPartial" model="Model" />
        </div>
    </div>
</div>
