html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F8F9FA !important;
}

.text-primary {
  color: #e60000 !important;
}

.bg-primary, .btn-primary {
    background-color: #e60000 !important;
    border: none !important;
}

.bg-secondary {
  background-color: #F8F9FA !important;;
}

.delivery-img {
    max-width: 500px;
    max-height: 500px;
}