@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(./Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: #F8F9FA !important;
}

.text-primary {
  color: #e60000 !important;
}

.bg-primary, .btn-primary {
    background-color: #e60000 !important;
    border: none !important;
}

.bg-secondary {
  background-color: #F8F9FA !important;;
}

.delivery-img {
    max-width: 500px;
    max-height: 500px;
}