@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row align-items-center" style="height: 100vh;">
    <div class="col-6">
        <section class="d-flex flex-column justify-content-center align-items-center">
            <h1>OK Boss Express</h1>
            <h4>- slogan slogan slogan slogan slogan -</h4>
            <img src="~/images/delivery.svg" alt="Delivery Man Image" class="delivery-img"/>
        </section>
    </div>
    <div class="col-5 offset-1"
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Log In</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-1">Log in</button>
                </div>
               <div class="d-flex justify-content-around mt-4">
                   <p class="mb-0">
                        <a class="text-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                    </p>
                    <p class="mb-0">
                        <a id="forgot-password" class="text-secondary" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
