@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="min-h-screen items-center p-10 md:grid md:grid-cols-2">
    <div class="md:border-r">
        <section class="mb-5 flex flex-col items-center justify-center md:mr-20">
            <h1 class="mb-2 text-center text-2xl md:text-4xl">OK Boss Express</h1>
            <h4 class="text-center text-sm">- From Your Desk to Their Door: Delivering as the Boss Commands. -</h4>
            <img src="~/images/delivery.svg" alt="Delivery Man Image" class="h-[275px] w-[275px] md:h-[400px] md:w-[400px]" />
        </section>
    </div>
    <div class="mx-auto md:w-2/3">
        <section>
            <form id="register" method="post" class="grid-cols-1 grid gap-2 md:grid-cols-2 md:gap-4">
                <h2 class="col-span-1 mb-3 text-center text-xl md:col-span-2">Register</h2>
                <div asp-validation-summary="ModelOnly" class="col-span-1 mt-2 text-sm text-red-600 md:col-span-2" role="alert"></div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.FirstName" class="mb-1 block text-sm font-medium dark:text-white">First Name</label>
                    <input asp-for="Input.FirstName" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="First Name" />
                    <span asp-validation-for="Input.FirstName" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.LastName" class="mb-1 block text-sm font-medium dark:text-white">Last Name</label>
                    <input asp-for="Input.LastName" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Last Name" />
                    <span asp-validation-for="Input.LastName" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.IdentityCardNumber" class="mb-1 block text-sm font-medium dark:text-white">Identity Card Number</label>
                    <input asp-for="Input.IdentityCardNumber" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Identity Card Number" />
                    <span asp-validation-for="Input.IdentityCardNumber" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.Email" class="mb-1 block text-sm font-medium dark:text-white">Email</label>
                    <input asp-for="Input.Email" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.Password" class="mb-1 block text-sm font-medium dark:text-white">Password</label>
                    <input asp-for="Input.Password" type="password" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.ConfirmPassword" class="mb-1 block text-sm font-medium dark:text-white">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.PhoneNumber" class="mb-1 block text-sm font-medium dark:text-white">Phone Number</label>
                    <input asp-for="Input.PhoneNumber" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Phone Number" />
                    <span asp-validation-for="Input.PhoneNumber" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="form-floating mb-1">
                    <label asp-for="Input.DateOfBirth" class="mb-1 block text-sm font-medium dark:text-white">Date of Birth</label>
                    <input asp-for="Input.DateOfBirth" type="date" class="block w-full rounded-lg border-red-500 px-3 py-2 text-sm focus:border-red-500 focus:ring-red-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400" placeholder="Date of Birth" />
                    <span asp-validation-for="Input.DateOfBirth" class="mt-1 text-sm text-red-600"></span>
                </div>

                <div class="col-span-1 flex justify-center md:col-span-2">
                    <button id="register-submit" type="submit" class="bg-primary inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent px-4 py-3 text-center text-sm font-semibold text-white hover:opacity-90 disabled:opacity-50 disabled:pointer-events-none">
                        Register
                    </button>
                </div>
                <div class="col-span-1 mt-2 flex justify-center md:col-span-2">
                    <p class="mb-0">
                        <a class="text-secondary text-xs hover:opacity-90" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
