@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-row justify-center items-center my-12">
    <div class="flex flex-col items-center gap-y-4">
        <h1 class="font-montserrat text-6xl font-medium text-ok-boss-6">OK Boss Express</h1>
        <div class="flex flex-row items-center font-montserrat text-5xl font-semibold text-ok-boss-8">
            delivery<span class="h-14 w-14 mx-3"><img type="image/svg+xml" src="~/images/parcel.svg" /></span>solutions.
        </div> 
        
        <div class="rounded-3xl py-2.5 px-6 my-6 bg-ok-boss-4">
            <h5 class="text-white text-sm text-[#4e5969] font-medium">Efficient <span class="font-bold font-montserrat text-ok-boss-8">OK Boss Express</span> with clear cost savings.</h5>
        </div>
    </div>
</div>
<div class="flex flex-col lg:grid lg:grid-cols-3 gap-x-4 px-6 py-4 my-4 bg-white">
    <div class="col-span-2 p-2">
        <img src="~/images/demo.png" alt="demo-image" />
    </div>
    <div class="order-first lg:order-none col-span-1 flex items-center justify-center py-4 lg:py-0">
        <form asp-action="Index" asp-controller="Shipment" method="get" class="flex flex-col gap-y-3">
            <div class="mb-6">
                <span class="text-4xl text-ok-boss-7 font-montserrat font-semibold mb-2">Shipment Tracking</span>
                <div class="text-[#272e3b] font-medium">Know where your package is, every step of the way. </div>
            </div>
            <div class="relative">
                <input name="searchQuery"
                       type="text"
                       class="font-medium w-full py-2 pe-4 ps-8 border-2 border-[#c9cdd4] rounded-xl focus:ring-ok-boss-5 focus-visible:outline-ok-boss-5"
                       placeholder="Shipment number"
                       required />
                <svg class="top-[12px] left-[10px] text-[#86909c] absolute" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-search"><path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" /><path d="m7.5 4.27 9 5.15" /><polyline points="3.29 7 12 12 20.71 7" /><line x1="12" x2="12" y1="22" y2="12" /><circle cx="18.5" cy="15.5" r="2.5" /><path d="M20.27 17.27 22 19" /></svg>
            </div>
            <button class="text-sm px-4 py-2 bg-ok-boss-3 rounded-md hover:bg-ok-boss-5 hover:text-white cursor-pointer" type="submit">
                Search
            </button>
        </form>
    </div>
</div>