<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="~/images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        if (User.IsInRole("Warehouse"))
        {
            <title>@ViewData["Title"] - Admin</title>
        }
        else if (User.IsInRole("Driver"))
        {
            <title>@ViewData["Title"] - Driver</title>
        }
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ddat_assignment.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="flex flex-row h-screen max-h-screen">
        @{
            if (User.IsInRole("Warehouse"))
            {
                <partial name="_AdminSidebar" />
            }
            else if (User.IsInRole("Driver"))
            {
                <partial name="_DriverSidebar" />
            }
        }
        <main role="main" class="p-8 xl:w-4/5 w-3/4 h-full max-h-screen overflow-hidden">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/admin_sidebar.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
