@{
    ViewData["Title"] = "Shipment Tracking";
    var error = TempData["error"];
}
@model ShipmentResultModel

<div class="flex flex-row justify-between mb-2">
    <h1 class="scroll-m-20 pb-2 text-2xl font-semibold tracking-tight text-[#1d2129]">Shipment Tracking</h1>
    <form asp-action="Shipment" asp-controller="Admin" method="get" class="flex flex-row items-center gap-x-3">
        <div class="relative">
            <input name="searchQuery"
                type="text"
                class="text-sm py-2.5 pe-4 ps-8 rounded-xl focus:ring-ok-boss-5 focus-visible:outline-ok-boss-5"
                placeholder="Shipment number"
                required />
            <svg class="top-[12px] left-[8px] w-4 h-4 text-gray-700 absolute" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-search"><path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" /><path d="m7.5 4.27 9 5.15" /><polyline points="3.29 7 12 12 20.71 7" /><line x1="12" x2="12" y1="22" y2="12" /><circle cx="18.5" cy="15.5" r="2.5" /><path d="M20.27 17.27 22 19" /></svg>
        </div>
        <button class="text-sm px-4 py-2 bg-ok-boss-3 rounded-md hover:bg-ok-boss-5 hover:text-white cursor-pointer" type="submit">
            Track
        </button>
    </form>
</div>

@if (error != null)
{
    <div class="flex justify-center items-center my-8">
        <h4 class="text-ok-boss-6 text-lg">@error Please try again</h4>
    </div>
}
else
{
    <partial name="_ShipmentResultPartial" model="@Model" />
}